:root {
  // text
  --color-text-primary: #000;
  --color-text-secondary: #fff;

  // backgrounds
  --color-bg-primary: #3d3d3d;
  --color-bg-secondary: #fcfcfc;
  --color-bg-tertiary: #efefef;
  --color-bg-paper: #fff;

  // palette

  // accent
  --color-accent-50: #ebf0ff;
  --color-accent-100: #d6e2ff;
  --color-accent-200: #adc5ff;
  --color-accent-300: #85a7ff;
  --color-accent-400: #5c8aff;
  --color-accent-500: #366eff;
  --color-accent-600: #0045f5;
  --color-accent-700: #0034b8;
  --color-accent-800: #00237a;
  --color-accent-900: #00113d;
  --color-accent-950: #00091f;

  // danger
  --color-danger-50: #ffebeb;
  --color-danger-100: #ffd6d6;
  --color-danger-200: #ffadad;
  --color-danger-300: #ff8585;
  --color-danger-400: #ff5c5c;
  --color-danger-500: #ff3636;
  --color-danger-600: #f50000;
  --color-danger-700: #b80000;
  --color-danger-800: #7a0000;
  --color-danger-900: #3d0000;
  --color-danger-950: #1f0000;

  // neutral

  --color-neutral-50: #fff;
  --color-neutral-100: #fff;
  --color-neutral-200: #fff;
  --color-neutral-300: #fcfcfc;
  --color-neutral-400: #fcfcfc;
  --color-neutral-500: #fcfcfc;
  --color-neutral-600: #c9c9c9;
  --color-neutral-700: #969696;
  --color-neutral-800: #666;
  --color-neutral-900: #333;
  --color-neutral-950: #1a1a1a;

  // semantic
  --color-primary: var(--color-accent-500);
  --color-primary-hover: var(--color-accent-600);
  --color-primary-active: var(--color-accent-700);
  --color-secondary: #ffc700;
  --color-danger: var(--color-danger-500);
  --color-danger-hover: var(--color-danger-600);
  --color-danger-active: var(--color-danger-700);
  --color-outline-focus: var(--color-accent-900);
}
