@mixin button {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding: 0.375rem 1.75rem;

  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-decoration: none;

  background-color: transparent;
  border: none;
  border-radius: 0.25rem;

  transition: var(--transtition-duration-basic) background-color,
    var(--transtition-duration-basic) color;

  &:focus-visible {
    outline: 2px solid var(--color-outline-focus);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &.fullWidth {
    justify-content: center;
    width: 100%;
  }
}

.primary {
  @include button;

  color: var(--color-text-primary);
  background-color: var(--color-primary);
  box-shadow: 0 4px 18px rgba(140, 97, 255, 0.35);

  &:hover:enabled {
    background-color: var(--color-primary-hover);
  }

  &:active:enabled {
    background-color: var(--color-primary-active);
  }
}

.secondary {
  @include button;

  color: var(--color-text-primary);
  background-color: var(--color-dark-300);
  box-shadow: 0 2px 10px rgb(109 109 109 / 25%), inset 0 1px 0 rgb(255 255 255 / 30%);

  &:hover:enabled {
    background-color: var(--color-dark-100);
  }

  &:active:enabled {
    background-color: var(--color-dark-500);
  }
}

.tertiary {
  @include button;

  color: var(--color-accent-500);
  background-color: var(--color-dark-900);
  border: 1px solid var(--color-accent-700);

  &:hover:enabled {
    background-color: var(--color-dark-500);
  }

  &:active:enabled {
    background-color: var(--color-accent-900);
  }
}
