.root {
  position: relative;
  padding: 15px 0 0;
}

.field {
  width: 100%;
  padding: 7px 0;

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(0 0 0);

  background: transparent;
  border: 0;
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  outline: 0;

  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .label {
    cursor: text;
    top: 20px;
    font-size: 16px;
    line-height: 24px;
  }
}

.label,
.field:focus ~ .label {
  pointer-events: none;

  position: absolute;
  top: 0;

  display: block;

  font-size: 13px;
  line-height: 20px;
  color: rgb(0 0 0 / 50%);

  transition: 0.2s;
}

.field:focus ~ .label {
  color: var(--color-accent-500);
}

.field:focus {
  padding-bottom: 6px;
  border-bottom: 2px solid var(--color-accent-500);
}

.showPassword {
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0;

  width: 24px;
  height: 24px;
  margin-top: 16px;
  margin-right: 10px;
  padding: 0;

  background: transparent;
  border: 0;
  outline: 0;

  &:focus-visible {
    outline: var(--outline-focus);
  }
}

.error {
  margin-top: 5px;
}
